    <br>
    <br>
    <br>


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Ofertas y cupones
                    <small>Copia el código y utiliza nuestras ofertas y cupones</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
       <div role ="tabpanel"class="tab-pane"id="ofertas">
       <div class="listItems2">
       <p>ofertas listItems2</p>     
       </div>
       <button id="moreArticulos"type="button" class="btn btn-primary btn-lg btn-block btn-view-more">Ver mas</button>
       
       
       </div>
       </br>
       
       
        <!-- /.row -->
        <div role="tabpanel"class="tab-pane"id="ofertasDescuento">
        <div class="listItems3">
        <p>ofertasDescuento  listItems3</p>
        </div>
        <button id ="moreOfertasDescuento"type="button" class="btn btn-primary btn-lg btn-block btn-view-more">Ver mas</button>
        
        
        </div>
		 
        <!-- /.row -->
       </div>
      