 <div class="container">
        <div class="row">
            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 text-justify">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header">
                            <h1 id="forms"> Mi Perfil 
                              <small>  Visualice sus datos</small>
                          </h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- final cabecera -->
        </div>

        <!-- USER PROFILE ROW STARTS-->
        <div  class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="user-wrapper">
                    <div class="description">
                       
                       
                        <div class="list-group">
                            <a routerLink="/favoritos" class="list-group-item"><span class="glyphicon glyphicon-folder-open"></span> Favoritos</a>
                            <a id="miPerfilMenu" href="#" class="list-group-item"><span class="glyphicon glyphicon-user"></span> Mi Perfil </a>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
            <br>
        
            <div class="col-lg-9 col-md-9" id="miPerfil">
                <p class="lead">Información de usuario</p>
                <div class="list-group">
                    <template ngFor let-user [ngForOf]="users">
                   
                       <li *ngIf="loginService">
                       
                       
                           <div class="row">
                    <p class="list-group-item">{{user.name}}</p>
                    <p class="list-group-item">{{user.surname}}</p>
                    <p class="list-group-item">{{user.pais}}</p>
                    <p class="list-group-item">{{user.descripcion}}</p>
                    <p class="list-group-item">{{user.postalCode}}</p>
                    <p class="list-group-item"></p>
                       </div>
                       </li>
                    </template>
                       
                 

                      
                      
                   
                    
                </div>
            </div>
                
                <li *ngFor ="let purchase of purchases">
                <p class="lead">Información de Pedido</p>
                <div class="list-group">
                    <p class="list-group-item">{{purchase.code}}</p>
                    <p class="list-group-item">{{purchase.description}}</p>
                </div>
                </li>
                
                <p class="lead">Dirección de envío</p>
                <li *ngFor ="let resourceFavorito of resourcesFavoritos">
                <div class="list-group">
                    <p class="list-group-item">{{resourceFavorito.name}}</p>
                    
                </div>
                </li>
            </div>
            <div class="col-md-9 col-sm-9" id="editarPerfil">
                <!-- Editar opciones del perfil -->
                <h3> Administrar perfil </h3>
                <br>
                <!-- <div class="description"> -->
              
                <br>
          
                
                
                <!-- Eliminar cuenta  -->
                <div class="panel panel-danger text-center">
                    <div class="panel-heading">
                        Borrar cuenta
                    </div>
                    <form action="borrarPerfil">
                    <div class="panel-body text-center">
                        <p> Su cuenta será borrada para siempre y no podrá recuperarla. Al pulsar el botón de eliminar su cuenta será totalmente eliminada</p>
                        <a href="/deleteUser">
	                         <button type="button"  class="btn btn-danger">Eliminar</button>
                           </a>
                        
                    </div>
                    </form>
                </div>
            </div>



            












        </div>


















        </div>