<div class="container">
        <div class="row">
            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 text-justify">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header">
                            <h1 id="forms"> Método de pago</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- final cabecera -->
        </div>
        <select class="form-control" id="payment-method">
            <option value="null">Seleccione metodo de pago</option>
            <option value="card">Pagar con Tarjeta</option>
            <option value="pay">Pagar con Paypal</option>
        </select>
        <div style="display:none" id="card-selected" class="panel panel-default text-center">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Añade una nueva Tarjeta de Crédito</div>
            </div>
            <br>
            <br>

            <div class="row">
                <div class="col-lg-12">
                    <form class="form-horizontal">
                        <div class="col-lg-11">

                            <div class="form-group">
                                <label class="col-lg-3 control-label"> Nombre asociado a la Tarjeta</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control col-md-6">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label" for="typeahead">Apellidos asociados a la Tarjeta</label>
                                <div class="col-lg-9">
                                    <input type="password" class="form-control col-md-6">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label" for="typeahead">Numero de Tarjeta</label>
                                <div class="col-lg-9">
                                    <input type="number" class="form-control col-md-6">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label" for="typeahead">Fecha de caducidad de la tarjeta</label>
                                <div class="col-lg-9">
                                    <input type="date" class="form-control col-md-6">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label" for="typeahead">CVV</label>
                                <div class="col-lg-9">
                                    <input type="number" class="form-control col-md-6">

                                </div>
                            </div>
                            <br>

                            <label class="col-lg-12">
                                <a href="/" class="btn btn-primary" onclick="feebackCompra()">Realizar Compra</a>
                            </label>
                            <script>
                                function feebackCompra() {
                                    alert("¡Compra realizada!");
                                }
                            </script>
                        </div>
                    </form>
                </div>
            </div>
            <br>
        </div>

        <div style="display:none" id="pay-selected" class="panel panel-default text-center">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Añade una nuevo Paypal</div>
            </div>
            <br>
            <br>

            <div class="row">
                <div class="col-lg-12">
                    <form class="form-horizontal">
                        <div class="col-lg-11">

                            <div class="form-group">
                                <label class="col-lg-3 control-label"> Nombre asociado a Paypal</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control col-md-6">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label" for="typeahead">Apellidos asociados a Paypal</label>
                                <div class="col-lg-9">
                                    <input type="password" class="form-control col-md-6">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label" for="typeahead">Contraseña de Paypal</label>
                                <div class="col-lg-9">
                                    <input type="password" class="form-control col-md-6">

                                </div>
                            </div>
                            <br>

                            <label class="col-lg-12">
                                <a href="/" class="btn btn-primary" onclick="feebackCompra()">Realizar Compra</a>
                            </label>

                            <script>
                                function feebackCompra() {
                                    alert("¡Compra realizada!");
                                }
                            </script>
                        </div>
                    </form>
                </div>
            </div>
            <br>
        </div>