 <!header>
    
                    
            
        <div class="container content">

	
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			
		</div>
	
	
	
	
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		
		</div>
	
	 <div class="row">
            <br>
            <div class="col-md-3">

                <div class="user-wrapper">
                    <br>
                   <!-- <img src="/imagenes/{{vinilo.img}}" class="img-responsive" />-->
                    <br>
                    <div class="description well">
                        <div class="ratings">
                            <h4>En stock</h4>
                            <hr />
                            <br>

                            <div class="text-center" >
                               <!-- <a href="/{{id}}/addCarrito" style="width: 100%" class="btn btn-info btn-md" "><span class="glyphicon glyphicon-shopping-cart"></span> Añadir al carrito</a>-->
                            </div>
                           
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <div class="col-md-9 user-wrapper">
                <div class="alert alert-info">
                	<h3>  </h3>
                    <h3> </h3>
                    <p>
                       
                    </p>
                </div>
                <hr />
                <br>
                <!-- <div class="description"> -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="text-muted bootstrap-admin-box-title">Datos del Vinilo</div>
                    </div>
                    <div class="clearfix">
                        <div class="col-sm-4">
                            <h3>Intérprete</h3>
                            <p></p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Fecha</h3>
                            <p></p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Estado</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-sm-4">
                            <h3 class="text-left">Album</h3>
                            <p></p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Precio</h3>
                            <p></p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Código</h3>
                            <p></p>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Añade un comentario</div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-9">
                    <form class="form-horizontal" action="{{id}}/addComment" method="post">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="col-lg-2  col-md-2 col-sm-7 col-xs-12 control-label text-center">
                                    <button (click)="addContent()">Guardar</button>
                                </label>
                            <div class="col-lg-10 col-md-10 col-xs-12">
                                <br>
                                <input id="textarea-wysihtml5" type="textarea" name="message" style="width:700px; height:50px" class="form-control col-lg-10 col-md-10 col-xs-12"[(ngModel)]="comment" placeholder="Introduce un comentario.">
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
        </div>
        <!-- RATINGS ROW -->
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <span class="pull-left"><h3>Comentarios</h3></span>
                </div>
            </div>
            <hr>
			
            <div class="row">
                <div class="col-md-12">
                    
                   <ul>
                        
                       <li *ngFor="let elem of elems">
                         <span class="pull-left">
                           {{elem}}<br/>
                        </span>
                       </li>
                    </ul>     
                         
                </div>
            </div>
            <hr>
		
            
        </div>
        <!-- RATINGS ROW END -->
            </div>
        </div>
        <!-- USER PROFILE ROW END-->
        
    </div>
   
   
   

	
