<br>
<!carousel>

    <div class="page" id="banner">
        <div class="row">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="src/assets/img/Caroussel1.png" alt="...">
                        <div class="carousel-caption">
                            <h3>Bienvenido a Virtual Vinilo </h3>
                        </div>
                    </div>
                    <div class="item">
                        <img src="src/assets/img/Caroussel2.png" alt="...">
                        <div class="carousel-caption">
                            <h3>Tu web de vinilos</h3>
                        </div>
                    </div>
                    <div class="item">
                        <img src="src/assets/img/Caroussel3.png" alt="...">
                        <div class="carousel-caption">
                            <h3>Tu web por naturaleza</h3>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <!-- Carousel -->
        </div>
    </div>
    <br/>
    <br/>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">


                <p class="lead">Filtrar Productos</p>
                <div class="list-group">
                    <p class="list-group-item">Por interprete</p>
                    <a href="#" class="list-group-item">interprete1 <span class="badge">10</span></a>
                    <a href="#" class="list-group-item">interprete2 <span class="badge">10</span></a>
                    <a href="#" class="list-group-item">interprete3 <span class="badge">10</span></a>
                    <a href="#" class="list-group-item">interprete4 <span class="badge">10</span></a>
                    <a href="#" class="list-group-item">interprete5 <span class="badge">10</span></a>
                    <a href="#" class="list-group-item">interprete6 <span class="badge">10</span></a>
                    <a href="#" class="list-group-item">interprete7 <span class="badge">10</span></a>
                </div>
                <div class="list-group">
                    <p class="list-group-item">Por estado</p>
                    <a href="#" class="list-group-item">estado1 <span class="badge">10</span></a>
                    <a href="#" class="list-group-item">estado2 <span class="badge">10</span></a>
                </div>
                <div class="list-group">
                    <p class="list-group-item">Por precio</p>
                    <a href="#" class="list-group-item">rango1 <span class="badge">10</span></a>
                    <a href="#" class="list-group-item">rango2 <span class="badge">10</span></a>
                    <a href="#" class="list-group-item">rango3 <span class="badge">10</span></a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <a href="{{id}}" ><img src="{{imagen1}}" style="width: 320px; height: 280px" alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">{{precio}} €</h4>
                               <h4> <a routerLink="/articulo" routerLinkActive="active"> {{interprete}}</a></h4>
                               <!-- <h4><a href="{{id}}">{{interprete}}</a>
                                </h4>-->
                                <h5>{{title}}</h5>
                                <p>{{subtitle}}</p>
                            </div>
                     
                        </div>
                        <br>
                    </div>
<div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <a href="{{id}}" ><img src="{{imagen2}}" style="width: 320px; height: 280px" alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">{{precio}} €</h4>
                                <h4> <a routerLink="/articulo" routerLinkActive="active"> {{interprete}}</a></h4>
                                
                               <!-- <h4><a href="{{id}}">{{interprete}}</a>
                                </h4>-->
                                <h5>{{title}}</h5>
                                <p>{{subtitle}}</p>
                            </div>
                     
                        </div>
                        <br>
                    </div>
<div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <a href="{{id}}" ><img src="{{imagen3}}" style="width: 320px; height: 280px" alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">{{precio}} €</h4>
                                 <h4> <a routerLink="/articulo" routerLinkActive="active"> {{interprete}}</a></h4>
                               <!-- <h4><a href="{{id}}">{{interprete}}</a>
                                </h4>-->
                                <h5>{{title}}</h5>
                                <p>{{subtitle}}</p>
                            </div>
                     
                        </div>
                        <br>
                    </div>
<div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <a href="{{id}}" ><img src="{{imagen1}}" style="width: 320px; height: 280px" alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">{{precio}} €</h4>
                                <h4> <a routerLink="/articulo" routerLinkActive="active"> {{interprete}}</a></h4>
                               <!-- <h4><a href="{{id}}">{{interprete}}</a>
                                </h4>-->
                                <h5>{{title}}</h5>
                                <p>{{subtitle}}</p>
                            </div>
                     
                        </div>
                        <br>
                    </div>
<div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <a href="{{id}}" ><img src="{{imagen2}}" style="width: 320px; height: 280px" alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">{{precio}} €</h4>
                                <h4> <a routerLink="/articulo" routerLinkActive="active"> {{interprete}}</a></h4>
                                <!--<h4><a href="{{id}}">{{interprete}}</a>
                                </h4>-->
                                <h5>{{title}}</h5>
                                <p>{{subtitle}}</p>
                            </div>
                     
                        </div>
                        <br>
                    </div>
<div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <a href="{{id}}" ><img src="{{imagen3}}" style="width: 320px; height: 280px" alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">{{precio}} €</h4>
                                <h4> <a routerLink="/articulo" routerLinkActive="active"> {{interprete}}</a></h4>
                               <!-- <h4><a href="{{id}}">{{interprete}}</a>
                                </h4>-->
                                <h5>{{title}}</h5>
                                <p>{{subtitle}}</p>
                            </div>
                            <div *ngIf="moreVinilosActive">
                                <button (click)="addVinilos(true)"type="button" >Ver mas </button>
                     
                        </div>
                        <br>
                    </div>
                    
                    <button [class.btn-disabled]="loadMore" id="MoreVinilos"(click)="loadMoreVinilos()" type="button" class="btn-block btn-view-more">Ver más Vinilos</button>
            
            </div>
        </div>
    </div>